@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --color-dark: #504B38;
    --color-brown: #B9B28A;
    --color-light: #EBE5C2;
    --color-background: #F8F3D9;
    --color-red: #ff0000;
    --font-poppins: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-404 {
    font-family: var(--font-poppins);
    font-weight: 600;
    background-color: var(--color-background);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.content {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: var(--font-poppins);
    font-size: 100px;
    color: var(--color-red);
}

p {
    font-size: 18px;
    color: var(--color-dark);
    margin-bottom: 30px;
}

.home-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: var(--color-brown);
    text-decoration: none;
    border-radius: 5px;
}

.home-button:hover {
    background-color: var(--color-dark);
}