@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;500;600&display=swap');

:root {
    --color-dark: #504B38;
    --color-brown: #B9B28A;
    --color-light: #EBE5C2;
    --color-background: #F8F3D9;
    --color-red: #ff0000;
    --font-poppins: 'Poppins', sans-serif;
}

.container-home {
    width: 70%;
    background-color: #FFF;
    margin: 40px auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 40px;
    padding-bottom: 70;
    border-radius: 10px;
}

.container-home h1 {
    color: var(--color-dark);
    font-size: 26px;
    font-family: var(--font-poppins);
    text-align: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    font-family: var(--font-poppins);
    color: var(--color-dark);
    font-size: 20px;
    font-weight: 600;
}

.error {
    font-family: var(--font-poppins);
    color: var(--color-red);
    font-size: 16px;
}

.input-container label {
    margin-bottom: 5px;
    font-family: var(--font-poppins);
}

.option-bold {
    font-weight: bold;
}

.input-container input, textarea, select {
    width: 100%;
    box-sizing: border-box;
    height: 35px;
    border-radius: 8px;
    font-size: 16px;
    font-family: var(--font-poppins);
    color: var(--color-dark);
    border: 1px solid var(--color-dark);
    outline-color: var(--color-brown);
    resize: vertical;

}

.input-container textarea {
    height: auto;
}

.form-row {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-poppins);
}

.flex-45 {
    flex-basis: 45%;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.button-submit {
    width: auto;
    border-radius: 8px;
    height: 34px;
    background-color: #FFF;
    color: var(--color-dark);
    margin-top: 10px;
    border: 1px solid var(--color-dark);
    cursor: pointer;
}

.button-submit:hover {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.footer-app {
    position: fixed;
    height: 50px;
    width: 100%;
    justify-content: center;
    background-color: var(--color-dark)
}

.footer-app p {
    text-align: center;
    color: var(--color-light);
    font-size: 16px;
    font-family: var(--font-poppins);
    font-weight: 500;
}

@media (max-width: 800px) {

    .form-row {
        flex-direction: column;
    }

    .container-home {
        width: 90%;
    }
}

/*  CSS da tela de listagem pets  */

.container-pets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.item-pet {
    background-color: #FFF;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-pet img {
    object-fit: cover;
}

.menu {
    height: 50px;
    background-color: var(--color-dark);
    font-family: var(--font-poppins);
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    padding: 10px;
}

.menu a, p {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.pet-card-botoes {
    display: flex;
    gap: 20px;
}